/* Body and form are centered on the page */
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-image: url("wallpaper.jpg")
}


/* Style the form */
form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    display: flex;
    flex-direction: column; 
    align-items: center;    
}

h2 {
    position: absolute;
    top: 30%;              
    left: 50%;            
    transform: translate(-50%, -50%);
    font-size: 35px;
    text-align: center;
    margin: 0; 
    font-family: Arial, sans-serif;
}

h4 {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 35px;  
    text-align: center;
    margin: 0; 
    font-family: Arial, sans-serif; 
    color: #013220;
    }


form label, form input {
    width: 100%;          
    margin-bottom: 10px;    
}

form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #45a049;
}


body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url("wallpaper.jpg");
    background-size: cover;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; 
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #04AA6D;
}

#sidebar-wrapper {
    height: 100vh;
    background-color: #f8f9fa;
    padding-top: 60px; 
}


.container-fluid {
    padding-left: 0;
}


h1.h2 {
    font-size: 2rem;
}


@media (max-width: 768px) {
    #sidebar-wrapper {
        display: none;
    }
}

